<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.yueqian.com.dao.TeacherDao"><!-- 用于绑定dao接口 -->
	<select id="getById" parameterType="int" resultMap="teacherResultMap">
		SELECT s.`id`
		AS stuId,s.`name` AS
		stuName,s.`sex`,s.`birthday`,s.`score`,s.`grade`,t.`id` AS
		teaId,t.`name` AS teaName
		FROM student s,teacher t ,tea_stu ts
		WHERE s.id =ts.`stu_id` AND t.id=ts.`tea_id` AND t.id=#{id}
	</select>
	<resultMap type="cn.yueqian.com.dao.entity.Teacher" id="teacherResultMap">
		<id property="id" column="teaId" />
		<result property="name" column="teaName" />
		<collection property="students" ofType="cn.yueqian.com.dao.entity.Student">
			<id property="id" column="stuId" />
			<result property="name" column="stuName" />
			<result property="sex" column="sex" />
			<result property="birthday" column="birthday" />
			<result property="score" column="score" />
			<result property="grade" column="grade" />
		</collection>
	</resultMap>

</mapper>
