<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net  
           http://dozer.sourceforge.net/schema/beanmapping.xsd">

	<mapping>
		<class-a>cn.jbit.domain.Order</class-a>
		<class-b>cn.jbit.dto.OrderDTO</class-b>

		<field>
			<a>id</a>
			<b>id</b>
		</field>

		<field>
			<a>user</a>
			<b>userDTO</b>
		</field>

		<field>
			<a>address</a>
			<b>address</b>
		</field>
		<field>
			<a>phone</a>
			<b>phone</b>
		</field>
		<field>
			<a>orderDetails</a>
			<b>orderDetailsDTO</b>
		</field>
	</mapping>
</mappings>  

